.featured-collection-wrap{
    @media #{$s700} {
        padding-left: 25px;
    }
    
    @media #{$s1000} {
        padding-left: 60px;
        width: 100%;
        max-width: 100%;
        margin-bottom: 120px;
        margin-top: 120px;
    }

    @media #{$s1600} {
        padding-left: 120px;
    }

    .image-page-button{
        display: none;
    }

    .container{
        padding: 0;
    }

    .collection-slider .collection-listing .product-block .product-info{
        margin: 0;
        padding: 25px 20px;
        box-sizing: border-box;

        @media #{$s1000} {
            padding: 40px;
        }
    }

    .product-block .block-inner{
        margin-bottom: 0!important;
    }

    .product-block__title{
        font-size: 14px;
        font-weight: 600;

        @media #{$s1000} {
            font-size: 16px;
        }

        @media #{$s1600} {
            font-size: 20px;
        }
    }

    .product-price{
        font-size: 12px;

        @media #{$s1000} {
            font-size: 14px;
        }

        @media #{$s1600} {
            font-size: 16px;
        }
    }
    
    .product-block .image-cont .btn.quickbuy-toggle{
        position: absolute;
        left: 0;
        bottom: 20px;
        padding: 10px;
        font-weight: 600;
        z-index: 4;
        display: block;
        border: none;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        width: auto;
    }

    .slick-track{
        display: flex !important;
        
        padding-bottom: 30px;
    }

    .slick-slide {
        margin: 0 8px;
        height: inherit!important;
        box-shadow: 0px 0px 30px #00000015;

        @media #{$s1000} {
            margin: 0 15px;
        }
    }

    .slick-list {
        margin: 0 -24px;

        @media #{$s700} {
            margin: 0 -15px;
        }
    }

    .collection-listing{
        margin: 0!important;
        padding: 0!important;
    }

    .collection-listing .product-list{
        margin: 0;
    }

    .collection-listing .product-block{
        padding: 0;
    }

    .collection-slider .product-list.carousel .product-block{
        width: 100%;
    }

    .product-block-options .product-block-options__inner{
        display: none;
    }

    .product-block-options{
        display: none;
    }

    .header-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin-bottom: 30px;

        @media #{$s770} {
            justify-content: space-between;
        }

        @media #{$s1100} {
            margin-bottom: 60px;
            padding-right: 120px;
        }

        .arrows-holder{
            align-items: center;
            display: none;

            @media #{$s1100} {
                display: flex;
            }

            .single-arrow{
                box-shadow: 0px 0px 6px #00000029;
                background-color: #fff;
                width: 50px;
                height: 50px;
                border-radius: 100px;

                &.next-featured{
                    margin-left: 20px;
                }

                &.slick-disabled{
                    opacity: 0.5;
                }
            }
        }

    }

    h1{
        margin: 0;
        @media #{$s1000} {
            font-size: 22px;
            text-align: left;
        }
        
        @media #{$s1600} {
            font-size: 32px;
        }
    }

    &.with-filters{
        @media #{$s700} {
            padding-left: 25px;
            padding-right: 25px;
        }
        
        @media #{$s1000} {
            padding-left: 60px;
            padding-right: 60px;
            width: 100%;
            max-width: 100%;
            margin-bottom: 120px;
            margin-top: 120px;
        }
    
        @media #{$s1600} {
            padding-left: 120px;
            padding-right: 120px;
        } 

        .header-wrap{
            justify-content: center;
            padding: 0;
            margin-bottom: 40px;

            @media #{$s700} {
                margin-bottom: 60px;
            }

            @media #{$s1100} {
                margin-bottom: 80px;
            }

            @media #{$s1600} {
                margin-bottom: 100px;
            }

            h1{
                margin: 0;
                text-align: center;
            }
        }

        .view-all{
            border-bottom: 2px solid #E2E2E2;
            display: flex;
            justify-content: space-evenly;

            a{
                color: #545454;
                font-size: 12px;
                text-decoration: none;
                border: none;
                display: inline-block;
                position: relative;

                &:after{
                    content: '';
                    height: 2px;
                    left: 0;
                    bottom: -2px;
                    background-color: #545454;
                    width: 0%;
                    position: absolute;
                    transition: all ease-in 200ms;
                }

                &:hover{
                    &:after{
                        width: 100%;
                    }
                }

                @media #{$s1000} {
                    font-size: 16px;
                }
        
                @media #{$s1600} {
                    font-size: 20px;
                }
            }
        }
    }
}