.featured-collections-gallery{
    overflow: hidden;

    @media #{$s700} {
        padding-left: 25px;
    }
    
    @media #{$s1000} {
        padding-left: 60px;
        width: 100%;
        max-width: 100%;
        margin-bottom: 120px;
    }

    @media #{$s1600} {
        padding-left: 120px;
    }

    h2{
        @media #{$s1000} {
            font-size: 22px;
            text-align: left;
        }
        
        @media #{$s1600} {
            font-size: 32px;
            margin-bottom: 40px;
        }
    }

    .gallery-wrapper{
        .slick-track{
            display: flex !important;
            padding-bottom: 30px;
        }
    
        .slick-slide {
            margin: 0 8px;
            height: inherit!important;
            box-shadow: 0px 0px 30px #00000015;

            @media #{$s1000} {
                margin: 0 15px;
            }
        }
    
        .slick-list {
            margin: 0 -24px;

            @media #{$s700} {
                margin: 0 -15px;
            }
        }

        .single-item{
            .image-holder{
                position: relative;
                overflow: hidden;
                padding-top: 100%;

                img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 1;
                    object-position: 50% 0;
                }

                .view-collection{
                    position: absolute;
                    left: 50%;
                    bottom: 20px;
                    transform: translateX(-50%);
                    z-index: 2;
                    font-weight: 600;
                    border: none;
                    white-space: nowrap;
                }
            }

            .single-item-info{
                padding: 25px 20px;
                box-sizing: border-box;

                @media #{$s1000} {
                    padding: 40px;
                }

                h3{
                    font-size: 14px;
                    margin-bottom: 5px;
                    font-weight: 600;
                    text-transform: none;

                    @media #{$s1000} {
                        font-size: 16px;
                    }
    
                    @media #{$s1600} {
                        font-size: 20px;
                    }
                }

                p{
                    font-size: 12px;

                    @media #{$s1000} {
                        font-size: 14px;
                    }
    
                    @media #{$s1600} {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}